questo notebook è collegato al nuovo account github robertolonghitano su edge robertolonghitano0@gmail.com

In [ ]:
#una funzione che data una parola se una parola è palindroma

In [ ]:
def check_palindrome(word):


    check_palindrome(word='anna')

In [1]:
word = 'Hello'
for i in word:
        print(word[::-1])

olleH
olleH
olleH
olleH
olleH

In [13]:
counter = 0
for i in [1,2,5]:
  for j in [2,3]:
        print(i,j)
        counter += 1

1 2
1 3
2 2
2 3
5 2
5 3

In [14]:
counter

6

In [16]:
list(range(5))

[0, 1, 2, 3, 4]

In [18]:
for i in range(5):
    print(i)

0
1
2
3
4

In [29]:
string = 'hello'
for position in range(len(string)):
    print(position, string[position])

0 h
1 e
2 l
3 l
4 o

In [31]:
for i in range(2,10,3):
    print(i)

2
5
8

In [32]:
names = ['Morgane', 'Daniel']
grades = [8, 7]

In [33]:
for i in names:
    for g in grades:
        print (i,g)

Morgane 8
Morgane 7
Daniel 8
Daniel 7

In [34]:
for i,g in zip(names, grades):
    print(i,g)

Morgane 8
Daniel 7

In [51]:
i = 1
while i < 5:
    print('*' * i)
    i += 1

*
**
***
****

In [ ]:
for letter in reversed(string):
    print(letter)

if 
#check if is palindrome

o
l
l
e
h

## fibonacci sequence

In [54]:
n1 = 1
n2 = 1
for i in range(10):
    new_element = n1 + n2
    n1 = n2
    n2 = new_element
    print(new_element)

2
3
5
8
13
21
34
55
89
144

In [56]:
list = ['name', 'john', 'another_list', ['st.patrick', 'st john'], 9, 10]

In [58]:
len(list[2])

12

In [60]:
len(list[3][-1])

7